@import url("https://fonts.googleapis.com/css?family=Abel|Raleway|Montserrat|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.main {
  background: url("../../Assets/Image/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.nextBtn {
  min-width: 35%;
}

.userInput {
  width: 60%;
  height: 200px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}

.footer {
  width: 100%;
  text-align: center;
}

body {
  overflow: hidden;

}
/* .mainRow{
    height: 100vh;
} */
@media (max-width: 1200px) {
  body {
    overflow: auto;
  }
  .main{
    height: auto;
  }
}
